/* 
  NAV Bar Section
*/

nav {
  background-color: #95c3ec;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav * {
  font-size: 25px;
  padding: 2px;
}

nav > img {
  width: 25%;
}

.nav-links {
  width: 455px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  height: 10vh;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: #535bf1;
  color: white;
}

/* 
  HOME
*/

.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.home-container img {
  width: 350px;
}

.home-form {
  width: 400px;
  border: 2px solid #c5d2da;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-form * {
  padding: 5px;
  margin: 5px;
}

.home-form button {
  background-color: #207868;
}

.home-form .danger {
  background: #e57373;
}

/* heros */
.heros-root > h1 {
  text-align: center;
}

.heros-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.hero-card {
  width: 250px;
  border: 2px solid #2470f7;
  padding: 10px;
  margin: 10px;
}

.hero-card img {
  width: 250px;
}

/* hero Detail */
.hero-detail-root {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-detail-container {
  height: 250px;
  display: flex;
}

.hero-detail-container img {
  width: 200px;
}

.hero-detail-container > div {
  padding: 15px;
}

.hero-detail-edit {
  background-color: orange;
  margin: 5px;
}

.hero-detail-delete {
  background-color: red;
  margin: 5px;
}

.hero-detail-bottom-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.hero-detail-bottom-container > div {
  width: 350px;
  margin: 10px;
}

.feedings-container {
  border: 2px solid #95c3ec;
  padding: 15px;
}

.feedings-container p {
  text-align: center;
}

.feedings-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedings-container form div {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.feedings-container form button {
  background-color: #207868;
  margin-top: 5px;
}

.hero-weapons-container {
  border: 2px solid #95c3ec;
  padding: 15px;
}

.heros-personal-weapons {
  display: flex;
  margin-top: 4px;
}

.heros-personal-weapons > div {
  height: 20px;
  width: 20px;
}

.heros-personal-weapons > p {
  margin: 0 0 0 10px;
}

.heros-personal-weapons > button {
  padding: 0;
  margin-left: 10px;
  background-color: #207868;
}

.heros-personal-owned-weapons {
  display: flex;
  margin-top: 4px;
}

.heros-personal-owned-weapons > div {
  height: 20px;
  width: 20px;
}

.heros-personal-owned-weapons > p {
  margin: 0 0 0 10px;
}

.heros-personal-owned-weapons > button {
  padding: 0;
  margin-left: 10px;
  background-color: red;
}

/* Create hero */
.create-hero-root,
.edit-hero-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.create-hero-heading,
.edit-hero-heading {
  width: 15%;
}

.create-hero-heading h2,
.edit-hero-heading h2 {
  text-align: center;
}

.create-form,
.edit-form {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 35%;
  justify-content: space-evenly;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.create-form input,
.create-form textarea,
.edit-form input,
.edit-form textarea {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.hero-form-age {
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: bold;
}

textarea {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-name {
  font-size: 48px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.input-age {
  padding-left: 10px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-breed {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.create-form > button,
.edit-form > button {
  background-color: #207868;
}

/* weaopns */
.weaopns-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.weaopns-root h2 {
  text-align: center;
}

.weaopn {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 10px;
}

.weaopn h3,
.weaopn p {
  margin: 0;
  text-align: right;
}

/* weaopn Create */
.create-weaopn-root,
.edit-weaopn-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.weaopn {
  color: white;
}

.create-weaopn-heading,
.edit-weaopn-heading {
  width: 15%;
}

.create-weaopn-heading h2,
.edit-weaopn-heading h2 {
  text-align: center;
}

.create-weaopn-form > button,
.edit-weaopn-form > button {
  background-color: #207868;
}

.create-weaopn-form,
.edit-weaopn-form {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 35%;
  justify-content: space-evenly;
}

.create-weaopn-form input,
.edit-weaopn-form input {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.input-weaopn-name {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-weaopn-color {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

/* weaopn Detail */
.weaopn-root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.weaopn-detail-edit {
  background-color: orange;
  margin: 5px;
}

.weaopn-detail-delete {
  background-color: red;
  margin: 5px;
}

.weaopn-detail-root {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
